<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UpdateRoom</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
</head>
<body>
<div th:include="navigation" class="ui massive inverted menu"></div>

<div class="ui container row" id="form-container">
    <form class="ui form" id="point-list">

    </form>
</div>

<script type="text/javascript" th:inline="javascript">
    let pointsArr = [[${points}]];

    let roomId = [[${roomId}]]

    let point_list = document.getElementById("point-list");
    for(let i = 0; i < pointsArr.length; i++) {

        let node = document.createElement("div");
        node.className = "field";
        node.id = "field";

        let inputX = document.createElement("input");
        inputX.value = pointsArr[i].x;

        let inputY = document.createElement("input");
        inputY.value = pointsArr[i].y

        inputX.className = "inputX";
        inputY.className = "inputY";

        node.appendChild(inputX);
        node.appendChild(inputY);

        point_list.appendChild(node);
    }

    let buttonSend = document.createElement("button");
    buttonSend.className = "ui button primary";
    buttonSend.innerText = "Send";
    buttonSend.addEventListener('click', function () {
        updateData(pointsArr.length, roomId)
    });
    buttonSend.type = "button";
    point_list.appendChild(buttonSend);

</script>
<script type="text/javascript" th:src="@{/static/js/updateRoom.js}"></script>
</body>
</html>